.sampleHub-dl{
  color: green;
}

.sampleHubContainer{
  border-top: 1px solid #e2e2e2;
  margin-top: 5px;
  padding: 15px 0;
}

.sampleHubContainer > a {
  line-height: 20px;
  margin-right: 10px;
  color: #ffffff;
  border-radius: 3px;
  padding: 10px;
  background-color: rgb(114, 197, 113);
  border-color: #87E4AB;
  font-size: 12px;
}

.sampleHubContainer > a > img {
  margin-bottom: -5px;
  margin-right: 10px;
}

.i-helix{
  height: 14px;
  width: 14px;
  display: block;
  background-image: url("/assets/logo.png");
}

#watch-header{
  height: 235px;
}

#sampleStart, #sampleEnd{
  display: inline;
}